[package]
name = "desktop"
version = "0.1.0"
edition = "2021"

[dependencies]
dioxus = { workspace = true, features = ["router", "fullstack"] }
ui = { workspace = true }
regex = "1"
rfd = "0.17.2"
encoding_rs = "0.8"
image = "0.25.9"

[features]
default = []
desktop = ["dioxus/desktop"]
server = ["dioxus/server", "ui/server"]
